/* -*- C -*-
 * FILE: "/home/joze/pub/gnome/entity-0.3.7/docs/entity.css"
 * LAST MODIFICATION: "Sun Oct 10 15:33:59 1999 (joze)"
 * (C) 1999 by Johannes Zellner, <johannes@zellner.org>
 * $Id$
 */

body {
	display: block;
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
	border: none;

	border-width: 0;
	margin: 0;
	padding: 20pt 10% 0 10%;
}

h1 {
	display: block;
	font: normal normal bold x-large monospace;
	border: none;

	margin: 0;
	padding: 5pt 0pt 5pt 10pt;

	background-color: #ddddff;
	text-align: left;
	text-indent: 0pt;
}

h2 {
	display: block;
	font: normal normal bold large monospace;
	border: none;

	margin: 0;
	padding: 5pt 0pt 5pt 10pt;

	background-color: #ddddff;
	text-align: left;
	text-indent: 0pt;
}

h3 {
	display: block;
	font: normal normal bold medium monospace;
	/*
	border: none;

	margin: 0;
	padding: 5pt 0pt 5pt 10pt;

	text-align: left;
	text-indent: -30pt;
	*/
}

h4 {
	display: block;
	font: normal normal bold medium monospace;
	border: none;

	margin: 0;
	padding: 5pt 0pt 5pt 10pt;

	background-color: #ddddff;
	text-align: left;
	text-indent: 0pt;
}

dl {
	margin-top: 10pt;
	margin-bottom: 10pt;
}

dt {
	font: normal normal bolder medium monospace;
	color: red;
}

div.text {
	display: block;
	padding: 5pt 0pt 5pt 80pt;
}

div.returns {
	display: inline;
    /*
     * TODO
	color: red;
    */
}

pre.code {

	display: block;
	border: none;

	margin: 0;
	padding: 0pt 0pt 0pt 0pt;
	margin: 5pt 0pt 5pt 0pt;

	text-align: left;
	background-color: #eeeeee;
	font-family: monospace;
	white-space: pre;
	text-indent: 0pt;
}

a.entry {
	display: block;
	margin: 25pt 0 5pt 0;
	font: normal normal bold medium monospace;
	background-color: #ddddff;
}


address {
	margin-top: 40pt;
	text-align: right;
}

div.date {
	font: normal normal x-small sans-serif;
	margin: 0;
	text-align: right;
}
